@model Climb.ViewModels.Sets.DetailsViewModel

<div class="set-container pb-2">
    <small class="set-details">@Model.Set.League.Name - @Model.SetType - @Model.Set.DueDate.ToShortDateString()</small>
    <div class="d-flex justify-content-between align-items-center p-2">
        <div class="d-flex flex-column align-items-start w-40">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRma0tgdrMHZiNnA0b-20CyuuvuWVaImCkm0cHEjihf6bYThDNVTA" width="64" height="64" />
            <span>
                <small>WWWWWWWWWWWW</small>
                @*<small><partial name="~/Views/User/Partials/LeagueUserLink.cshtml" model="@Model.Set.Player1" /></small>*@
            </span>
        </div>
        <strong class="set-vs"><em>vs</em></strong>
        <div class="d-flex flex-column align-items-end w-40">
            <img src="https://ssbworld.com/images/character-profiles/square/Wii-Fit-Trainer-F-Profile-Square.png" width="64" height="64" />
            <span>
                <small><partial name="~/Views/User/Partials/LeagueUserLink.cshtml" model="@Model.Set.Player2" /></small>
            </span>
        </div>
    </div>
    <a class="btn btn-fight btn-sm w-25 m-auto" asp-controller="Set" asp-action="Fight" asp-route-setID="@Model.Set.ID"><strong>Fight</strong></a>
</div>

<!--OLD-->
<div class="detail-card" hidden>
    @if(Model.UserIsPlaying)
    {
        <div class="flex align-center-i justify-center">
            <img src="@Model.OpponentProfilePic" width="64" height="64"/>
            <div class="flex wrap">
                <p class="padding-left-10">
                    <partial name="~/Views/User/Partials/LeagueUserLink.cshtml" model="@Model.Set.Player1"/>
                </p>
                <p class="padding-left-10">
                    <em>vs</em>
                </p>
                <p class="padding-left-10">
                    <partial name="~/Views/User/Partials/LeagueUserLink.cshtml" model="@Model.Set.Player2"/>
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="flex align-center-i justify-center">
            <img src="@Model.P1ProfilePic" width="64" height="64"/>
            <div class="flex wrap">
                <p class="padding-left-10">
                    <partial name="~/Views/User/Partials/LeagueUserLink.cshtml" model="@Model.Set.Player1"/>
                </p>
                <p class="padding-left-10">
                    <em>vs</em>
                </p>
                <p class="padding-left-10">
                    <partial name="~/Views/User/Partials/LeagueUserLink.cshtml" model="@Model.Set.Player2"/>
                </p>
            </div>
            <img src="@Model.P2ProfilePic" width="64" height="64"/>
        </div>
    }
    <a class="btn btn-fight margin-left-10" asp-controller="Set" asp-action="Fight" asp-route-setID="@Model.Set.ID">Fight</a>
</div>