@model Climb.ViewModels.Leagues.IndexViewModel

@{
    ViewBag.Title = "Leagues";
    Layout = "_LayoutWithNavbar";
}

<div>
    <h1>All Leagues</h1>
    
    @*<form asp-action="Create">
        <input type="text" name="name" placeholder="Name" />
        <input type="number" name="charactersPerMatch" placeholder="Characters per Match" />
        <input type="number" name="maxMatchPoints" placeholder="Max Match Points" />
        <button>Create Game</button>
    </form>*@

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Created</th>
                <th scope="col">Game</th>
                <th scope="col">Members</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var league in Model.Leagues)
        {
            <tr>
                <td><a asp-action="Home" asp-route-leagueID="@league.ID">@league.Name</a></td>
                <td>@league.DateCreated.ToShortDateString()</td>
                <td><a asp-controller="Game" asp-action="Home" asp-route-gameID="@league.GameID">@league.Game.Name</a></td>
                <td>@league.Members.Count</td>
            </tr>
        }
        </tbody>
    </table>
</div>