@model Climb.ViewModels.Account.SettingsViewModel

@{
    ViewBag.Title = "Account-Settings";
}

<div class="container mt-4">
    <h1 class="mb-4">@Model.User.UserName Settings</h1>
    <form asp-action="UpdateSettings" method="post" enctype="multipart/form-data">
        <!--ID-->
        <div class="form-group row">
            <label class="col-5 col-form-label text-left">ID</label>
            <input type="text" class="form-control col-7" value="@Model.User.Id" readonly="readonly"/>
        </div>
        <!--Name-->
        <div class="form-group row">
            <label class="col-5 col-form-label text-left">Name</label>
            <input type="text" name="Name" class="form-control col-7" value="@Model.User.Name" autofocus />
        </div>
        <!--Username-->
        <div class="form-group row">
            <label class="col-5 col-form-label text-left">Username</label>
            <input type="text" name="Username" class="form-control col-7" value="@Model.User.UserName" autofocus required />
        </div>
        <!--Profile Picture-->
        <div class="form-group row">
            <label class="col-5 col-form-label text-left">Profile Picture</label>
            <div class="col-7">
                <img src="@Model.ProfilePic" width="100" height="100" />
                <input class="form-control-file" type="file" name="ProfilePic" accept="image/*" />
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
    </form>
</div>