@model Climb.ViewModels.Leagues.LeagueUserViewModel

<link rel="stylesheet" href="~/dist/styles/league/leagueuser.css"/>

<div class="detail-card">
    <img src="@Model.ProfilePic" width="64" height="64" />
    <a asp-controller="User" asp-action="Home" asp-route-userId="@Model.LeagueUser.UserID" class="username">@Model.LeagueUser.User.UserName</a>
    @*<div class="username">WWWWWWWWWWWW</div>*@
    <div class="rank">@Model.LeagueUser.Rank</div>
    @*<div class="rank"><p>890</p></div>*@
    <div class="points">(@Model.LeagueUser.Points)</div>
    @*<div class="points">(1234)</div>*@
</div>