@model Climb.ViewModels.Leagues.LeagueUserViewModel

<link rel="stylesheet" href="~/dist/styles/league/leagueuser.css"/>

<div class="leagueuser-container mb-2">
    <a href="@Model.TitleLink">@Model.Title</a>
    <div class="leagueuser-details">
        <img src="@Model.Picture" width="64" height="64" />
        <div>
            <p>@Model.LeagueUser.Rank</p>
            <p>@($"({Model.LeagueUser.Points})")</p>
        </div>
        <img src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/arrow-alt-up.png" width="32" height="32"/>
    </div>
</div>