@model Climb.ViewModels.Games.CharacterAddViewModel

@{
    ViewBag.Title = "Character-Add";
    Layout = "_LayoutWithNavbar";
}

<link rel="stylesheet" href="~/dist/styles/game/game-home.css"/>

<div>
    <h1>@Model.Game.Name</h1>
    <h3>@Model.ActionName Character</h3>

    <form asp-action="CharacterAddPost" enctype="multipart/form-data">
        <input name="gameID" value="@Model.Game.ID" type="hidden"/>
        <input name="characterID" value="@Model.Character?.ID" type="hidden"/>
        <div>
            <label>Name</label>
            <input name="name" type="text" value="@Model.Character?.Name"/>
        </div>
        <div>
            <label>Image</label>
            <img src="@Model.ImageUrl" height="64" width="64"/>
            <input name="image" type="file" accept=".png"/>
        </div>
        <button>@Model.ActionName</button>
    </form>
</div>