@model Climb.ViewModels.Games.IndexViewModel

@{
    ViewBag.Title = "Games";
    Layout = "_LayoutWithNavbar";
}

<div>
    <h1>All Games</h1>
    
    <form asp-action="Create">
        <input type="text" name="name" placeholder="Name" />
        <input type="number" name="charactersPerMatch" placeholder="Characters per Match" />
        <input type="number" name="maxMatchPoints" placeholder="Max Match Points" />
        <button>Create Game</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Added</th>
                <th scope="col">Leagues</th>
                <th scope="col">Members</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var game in Model.Games)
        {
            <tr>
                <td><a asp-action="Home" asp-route-gameID="@game.ID">@game.Name</a></td>
                <td>@game.DateAdded.ToShortDateString()</td>
                <td>@game.Leagues.Count</td>
                <td>@game.Leagues.Sum(l => l.Members.Count)</td>
            </tr>
        }
        </tbody>
    </table>
</div>