@model Climb.ViewModels.Games.StageAddViewModel

@{
    ViewBag.Title = "Stages-" + Model.ActionName;
}

<link rel="stylesheet" href="~/dist/styles/game/game-home.css"/>

<div>
    <h1>@Model.Game.Name</h1>
    <h3>@Model.ActionName Stage</h3>

    <a asp-action="Home" asp-route-gameID="@Model.Game.ID">Cancel</a>

    <form asp-action="StageAddPost">
        <input name="gameID" value="@Model.Game.ID" type="hidden"/>
        <input name="stageid" value="@Model.Stage?.ID" type="hidden"/>
        <input name="name" type="text" value="@Model.Stage?.Name"/>
        <button>@Model.ActionName</button>
    </form>
</div>